<connectionStrings>
	<!-- Encrypt your connection strings (See https://msdn.microsoft.com/en-us/library/dtkwfdky.aspx). -->
	<!--<add
		name="MyAbilityFirstDbContext"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MAF_dev_calendar;
											Integrated Security=SSPI; MultipleActiveResultSets=true;"
		providerName="System.Data.SqlClient"
  />-->

 
	<add
	 name="MyAbilityFirstDbContext"
	 connectionString="Server=tcp:mafdb.database.windows.net,1433;Initial Catalog=MAFTest1;
											Persist Security Info=False;MultipleActiveResultSets=True;
											User ID=myabilityfirst@mafdb.database.windows.net;Password=HappyCh1ck3n;
											Encrypt=false;TrustServerCertificate=True;Connection Timeout=60;"
	 providerName="System.Data.SqlClient"
	/>

</connectionStrings>